body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #e5e5e5;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  background: #c3c3ce;
  padding: 1rem;
  border-radius: 10px;
}

.modal {
  display: flex;
  background: #ccc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 4rem;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
}

.hide {
  display: none;
}

button {
  background: #6060ce;
  color: #fff;
  padding: 0.6rem 1.4rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
